*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



.ulHeader {
    display: inline-flex;
    width: 90%;
    justify-content: end;
    list-style: none;
}

.liHeader {
    margin-left: 10px;
}

.aHeader {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.aboutMe {
    display: inline-flex;
    width: auto;
    height: auto;
    padding: 100px 300px 100px 300px;
}

.container--titulo1 {
    max-width: 320px;
}

.container--1 {
    max-width: 400px;
}

.downloadBtn {
    background-color: #FF6464;
    color: white;
    width: 208px;
    height: 47px;
    border: none;
    border-radius: 2px;
}

.container--img {
    width: 243px;
    height: 243px;
    display: flex;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 200px;
    justify-content: space-between;
}

.john--img {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}

.RecentPosts {
    margin: 0;
    background-color: #EDF7FA;

}

.titulo--section{
    padding-left:300px;
}

.container--card1 {
    padding: 20px 300px 20px 300px;
    display: inline-flex;
    width: auto;
    height: auto;
    justify-content: center;

}

.card1 {
    max-width: 400px;
    max-height: 300px;
    margin-right: 10px;
    padding: 20px;
    background-color: white;
}

.FeaturedWorks {
    display: inline-flex;
    width: auto;
    height: auto;
    padding: 100px 300px 100px 300px;
}